<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stream.chenhong.moduleastandalone" >


    <application
        android:name="com.stream.chenhong.moduleastandalone.ModuleaStandaloneApplicaiton"
        >


        <activity android:name="com.stream.chenhong.moduleastandalone.MainActivity">







        </activity>


        <activity android:name="com.stream.chenhong.moduleastandalone.PopLayerActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>










    </application>













</manifest>
